@{
    Layout = "~/Areas/Management/Views/Shared/UserPage/_UserLayout.cshtml";
}
<div class="card-title-sign mt-3 text-end">
    <h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle me-1 text-6 position-relative top-5"></i> Şifremi Unuttum</h2>
</div>
<div class="card-body">
    <div class="alert alert-info">
        <p class="m-0">Enter your e-mail below and we will send you reset instructions!</p>
    </div>

    <form>
        <div class="form-group mb-0">
            <div class="input-group">
                <input name="username" type="email" placeholder="E-mail" class="form-control form-control-lg" />
                <button class="btn btn-primary btn-lg" type="submit">Sıfırla!</button>
            </div>
        </div>

        <p class="text-center mt-3">Hatırladın mı? <a href="@Url.Action("SignIn","User")">Giriş Yap!</a></p>
    </form>
</div>