<div class="header__topbar-start">
    <div class="topbar topbar--spaceship-start">
        <div class="topbar__item-text d-none d-xxl-flex">Bizi Arayın: (212) 771-41-41</div>
        <div class="topbar__item-text">
            <a class="topbar__link" href="about-us.html">Hakkımızda</a>
        </div>
    </div>
</div>