<div class="header__topbar-start">
    <div class="topbar topbar--spaceship-start">
        <div class="topbar__item-text d-none d-xxl-flex">Bizi Arayın: (212) 771-41-41</div>
        <div class="topbar__item-text">
            <a class="topbar__link" href="about-us.html">Hakkımızda</a>
        </div>
    </div>
<<<<<<< HEAD
</div>
<div class="header__topbar-end-bg"></div>
<div class="header__topbar-end">
	<div class="topbar topbar--spaceship-end">
		<div class="topbar__item-button"><a href="#" class="topbar__button"><span class="topbar__button-label">Sepetim</span></a></div>
	</div>
=======
>>>>>>> origin/JwtDev
</div>