<div class="header-right">

    @Html.Partial("NavbarElements/_SearchBox.cshtml")

    <span class="separator"></span>

    @Html.Partial("NavbarElements/_Notification.cshtml")

    <span class="separator"></span>

    @Html.Partial("NavbarElements/_UserBox.cshtml")
</div>