<!doctype html>
<html class="fixed">

<head>

    <meta charset="UTF-8">
    <meta name="keywords" content="HTML5 Admin Template" />
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/modules/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/modules/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="/modules/css/theme.css" />

</head>
<body>
    <section class="body-sign">
        <div class="center-sign">
            <img src="/modules/img/logo.png" height="70" alt="Porto Admin" />
            <div class="panel card-sign">

                @RenderBody()

            </div>
            <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2021. All Rights Reserved.</p>
        </div>
    </section>

</body>
</html>