<form action="#" class="search nav-form">
    <div class="input-group">
        <input type="text" class="form-control" name="q" id="q" placeholder="Ara...">
        <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
    </div>
</form>
