@model List<CarParts.UI.Models.CategoryListResponseModel>
@{
    ViewData["Title"] = "ListCategory";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
}    
<div class="row">
    <div class="col">
        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper mt-2">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a href="/Management/Category/NewCategory" class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Add Category</a>
                            </div>
                        </div>
                    </div>
                    
                    <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list" style="min-width: 550px;">
                        <thead>
												<tr role="row">
 
 
  <th width="28%" class="sorting" tabindex="0" aria-controls="datatable-ecommerce-list" rowspan="1" colspan="1" aria-label="Ad: sütunu artan şekilde sıralamak için etkinleştirin" style="width: 382.906px;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">İsim</font>
    </font>
  </th>
  <th width="23%" class="sorting" tabindex="0" aria-controls="datatable-ecommerce-list" rowspan="1" colspan="1" aria-label="Slug: sütunu artan şekilde sıralamak için etkinleştirin" style="width: 309.359px;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Slug</font>
    </font>
  </th>
  <th width="38%" class="sorting" tabindex="0" aria-controls="datatable-ecommerce-list" rowspan="1" colspan="1" aria-label="Ana Kategori: sütunu artan şekilde sıralamak için etkinleştirin" style="width: 530.031px;">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;">Parent</font>
    </font>
  </th>
</tr>
											</thead>



                       
                        
                        <tbody>
                             @foreach(var item in Model)
                            {
                                
                            
                            <tr>
                                  <td><a href="/Management/Category/Detail/@item.Id"><strong>@item.Definition</strong></a></td>
                                 <td width="23%">@item.Slug</td>
                                 <td width="38%">@item.Parent</td>
                                 <td> <a href="/Management/Category/DeleteCategory/@item.Id" class="btn btn-danger">Sil</a></td>
                            </tr>
                            }



 
                        </tbody>
                    </table>
                    <hr class="solid mt-5 opacity-4">
                    
                </div>
            </div>
        </div>
    </div>
</div>