@model List<CarParts.UI.Models.ProductModel>
@{
    ViewData["Title"] = "ListCategory";
    Layout = "~/Areas/Management/Views/Shared/_Layout.cshtml";
} 




<section role="main" class="content-body content-body-modern mt-0">
			 

					<!-- start: page -->
					<div class="ecommerce-form-sidebar-overlay-wrapper">
						<div class="ecommerce-form-sidebar-overlay-body">
							<a href="#" class="ecommerce-form-sidebar-overlay-close"><i class="bx bx-x"></i></a>
							<div class="scrollable h-100 loading-overlay-showing has-scrollbar" data-plugin-scrollable="">
								<div class="loading-overlay">
									<div class="bounce-loader">
										<div class="bounce1"></div>
										<div class="bounce2"></div>
										<div class="bounce3"></div>
									</div>
								</div>
								<div class="ecommerce-form-sidebar-overlay-content scrollable-content px-3 pb-3 pt-1" tabindex="0" style="right: -17px;"></div>
							<div class="scrollable-pane" style="opacity: 1; visibility: visible; display: none;"><div class="scrollable-slider" style="height: 872px; transform: translate(0px, 0px);"></div></div></div>
						</div>
					</div>
					<div class="row justify-content-center justify-content-sm-between pt-2">
						<div class="col-sm-auto text-center mb-4 mb-sm-0 mt-2 mt-sm-0">
							                                <a href="/Management/Product/NewProduct" class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Add Product</a>

 						</div>
						<div class="col-sm-auto">
							<form action="https://www.okler.net/previews/porto-admin/4.0.0/ecommerce-products-list.html" class="search search-style-1 search-style-1-light mx-auto" method="GET">
								<div class="input-group">
									<input type="text" class="form-control" name="product-term" id="product-term" placeholder="Ürün Ara">
									<button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
								</div>
							</form>
						</div>
					</div>
					<div class="row row-gutter-sm mb-5">
					 
						<div class="col-lg-8-12 col-xl-10-12">
							<div class="row row-gutter-sm">

                             @foreach(var item in Model)
							 {
<div class="col-sm-6 col-xl-3 mb-4">
									<div class="card card-modern card-modern-alt-padding">
										<div class="card-body bg-light">
											<div class="image-frame mb-2">
												<div class="image-frame-wrapper">
													<div class="image-frame-badges-wrapper">
 													</div>
													<a href="ecommerce-products-form.html"><img src="img/products/product-1.jpg" class="img-fluid" alt="Ürün Kısa Adı"></a>
												</div>
											</div>
 											<h4 class="text-4 line-height-2 mt-0 mb-2"><a href="ecommerce-products-form.html" class="ecommerce-sidebar-link text-color-dark text-color-hover-primary text-decoration-none"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Name</font></font></a></h4>
											
										
										</div>
									</div>
								</div>
							 }
								 
							
								 

							</div>
				 
						</div>
					</div>
					<!-- end: page -->
				</section>