<div class="site-footer">
    <div class="decor site-footer__decor decor--type--bottom">
        <div class="decor__body">
            <div class="decor__start"></div>
            <div class="decor__end"></div>
            <div class="decor__center"></div>
        </div>
    </div>
    <div class="site-footer__widgets">
        <div class="container">
            <div class="row">
                <div class="col-12 col-xl-4">
                    <div class="site-footer__widget footer-contacts">
                        <h5 class="footer-contacts__title">İletişim Bilgileri</h5>
                        <div class="footer-contacts__text">Istanbul Topkapı Universitesi.</div> <address class="footer-contacts__contacts"> <dl> <dt>Tel No</dt> <dd>+90 212 771 41 41</dd> </dl> <dl> <dt>Email Adres</dt> <dd>carparts@example.com</dd> </dl> <dl> <dt>Lokasyon</dt> <dd>Ayvansaray Metrobüs Durağı, Balat TR</dd> </dl> <dl> <dt>Çalışma Saatleri</dt> <dd>Pzt-Cm 09:00 - 18:00</dd> </dl> </address>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2">
                    <div class="site-footer__widget footer-links">
                        <h5 class="footer-links__title">Bilgiler</h5>
                        <ul class="footer-links__list">
                            <li class="footer-links__item"> <a href="#" class="footer-links__link">Hakkımızda</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-md-3 col-xl-2">
                    <div class="site-footer__widget footer-links">
                        <h5 class="footer-links__title">Hesabım</h5>
                        <ul class="footer-links__list">
                            <li class="footer-links__item"> <a href="#" class="footer-links__link">Profilim</a> </li>
                            <li class="footer-links__item"> <a href="#" class="footer-links__link">Sepetim</a> </li>
                            <li class="footer-links__item"> <a href="#" class="footer-links__link">Sipariş Geçmişim</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="site-footer__widget footer-newsletter">
                        <h5 class="footer-newsletter__title">Haberdar Ol</h5>
                        <div class="footer-newsletter__text">Yeni eklenen ürünlerin bildirimlerini almak için email adresinizi kaydettirin!</div>
                        <form action="#" class="footer-newsletter__form">
                            <label class="sr-only" for="footer-newsletter-address">Email Adres</label>
                            <input type="text" class="footer-newsletter__form-input" id="footer-newsletter-address" placeholder="Email Adres...">
                            <button class="footer-newsletter__form-button">Abone Ol</button>
                        </form>
                        <div class="footer-newsletter__text footer-newsletter__text--social">Bizi Takip Edin</div>
                        <div class="footer-newsletter__social-links social-links">
                            <ul class="social-links__list">
                                <li class="social-links__item social-links__item--facebook">
                                    <a href="#" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
                                </li>
                                <li class="social-links__item social-links__item--twitter">
                                    <a href="#" target="_blank"> <i class="fab fa-twitter"></i> </a>
                                </li>
                                <li class="social-links__item social-links__item--youtube">
                                    <a href="#" target="_blank"> <i class="fab fa-youtube"></i> </a>
                                </li>
                                <li class="social-links__item social-links__item--instagram">
                                    <a href="#" target="_blank"> <i class="fab fa-instagram"></i> </a>
                                </li>
                                <li class="social-links__item social-links__item--rss">
                                    <a href="#" target="_blank"> <i class="fas fa-rss"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-footer__bottom">
        <div class="container">
            <div class="site-footer__bottom-row">
                <div class="site-footer__copyright">
                    <!-- copyright -->Powered by HTML — Designed by <a href="#" target="_blank">Web Team</a>
                    <!-- copyright / end -->
                </div>
                <div class="site-footer__payments"> <img src="/modules/webUI/images/payments.png" alt=""> </div>
            </div>
        </div>
    </div>
</div>